<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p : %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <asyncRoot level="${env:LOGGING_LEVEL:-info}">
            <AppenderRef ref="Console-Appender"/>
        </asyncRoot>
    </Loggers>
</Configuration>
